/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #a9c28a;
    --clr-primary-a10: #b3c997;
    --clr-primary-a20: #bccfa3;
    --clr-primary-a30: #c6d6b0;
    --clr-primary-a40: #cfddbd;
    --clr-primary-a50: #d9e4ca;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1f211d;
    --clr-surface-tonal-a10: #343632;
    --clr-surface-tonal-a20: #4a4c48;
    --clr-surface-tonal-a30: #61635f;
    --clr-surface-tonal-a40: #797b78;
    --clr-surface-tonal-a50: #939491;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

label {
    font-weight: 600;
}

form {
    color: white;
    background-color: var(--clr-surface-tonal-a0);
    border: solid 2px var(--clr-surface-tonal-a10);
    display: flex;
    flex-direction: column;
    width: clamp(300px, 90vw, 950px);
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

form h1 {
    color: var(--clr-primary-a0);
}

body {
    background-color: var(--clr-surface-a0);
    display: grid;
    height: fit-content;
    padding: 2rem;
    place-content: center;
}

li::marker {
    content: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li,
input {
    accent-color: var(--clr-primary-a0);
    caret-color: var(--clr-primary-a0);
}

*::selection {
    background-color: var(--clr-primary-a0);
}

h1::selection,
h2::selection,
legend::selection,
b::selection,
input:focus::selection {
    color: white;
}

fieldset {
    border: solid 2px var(--clr-primary-a0);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

legend {
    color: var(--clr-primary-a0);
}

b {
    color: var(--clr-primary-a0);
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: var(--clr-primary-a0);
}

input,
select {
    background-color: var(--clr-surface-a10);
    border: solid 2px var(--clr-surface-tonal-a10);
    border-radius: .25rem;
    padding: .125rem .5rem;
    color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

button {
    margin-top: 1rem;
    background-color: var(--clr-primary-a0);
    font-weight: 600;
    padding: .35rem;
    color: var(--clr-surface-tonal-a10);
    border-radius: .35rem;
    border: 2px solid var(--clr-surface-tonal-a10);
}

input[type="password"] {
    font-size: .75rem;
    padding: 5px .5rem;
}

input:focus {
    color: var(--clr-primary-a0);
}
